*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .wrapper{
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8%;
}
.container .wrapper > div{
    padding: 30px 30px;
    width: 150px ;
    height: 150px;
    background-color: rgb(22, 22, 22);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    box-shadow: 10px 10px 30px black,
                inset 3px 3px 5px rgba(208, 206, 206, 0.5);
}
.container .wrapper div i{
    color: rgba(143, 135, 135, 0.5);
}
.container .wrapper div:hover{
    transition: all .1s linear;
    box-shadow: inset 0 0 20px 3px black!important;
}
.container .wrapper div:hover .fa-heart{
    color: red;
    text-shadow: 0 0 20px red;
    transition: all 0.1s linear;
}
.container .wrapper div:hover .fa-graduation-cap{
    color: rgb(90, 245, 7);
    text-shadow: 0 0 20px rgb(90, 245, 7);
    transition: all 0.1s linear;
}
.container .wrapper div:hover .fa-gift{
    color: rgb(8, 238, 250);
    text-shadow: 0 0 20px rgb(8, 238, 250);
    transition: all 0.1s linear;
}
.container .wrapper div:hover .fa-filter{
    color: rgb(119, 4, 250);
    text-shadow: 0 0 20px rgb(119, 4, 250);
    transition: all 0.1s linear;
}
.container .wrapper div:hover .fa-earth-asia{
    color: rgb(21, 0, 255);
    text-shadow: 0 0 20px rgb(21, 0, 255);
    transition: all 0.1s linear;
}
